<div class="panel ulLinks">
  <div class="panel-heading">
    <h4 class="text-uppercase text-default font-weight-bold">Recent Posts:</h4>
  </div>
  <div class="panel-body">
    <ul class="ulLinks">
      <li ng-repeat="post in posts"><a ng-click="focusOnPost(post.id)">{{post.title}}</a></li>
    </ul>
  </div>
</div>
<br>
<!-- <div class="panel panel-exper text-light">
  <div class="panel-heading">
    <h4 class="text-uppercase text-default font-weight-bold">Experience:</h4>
  </div>
  <div class="panel-body">
    <div class="text-uppercase text-justify">
      <h4>I.T SPECIALIST<small> - This was my first job as a I.T SPECIALIST at PHINMA - Cagayan de oro college, Primary job is to fixed Telephone Communication, Network Troubleshooting, Printer Maintenance, Software Updates, Hardware Repair, Wifi Installation and Maintenance and Preparing for upcoming events like Graduation, Meetings, Big Conference.</small></h4>
      <h4>TECH SUPPORT<small> - This is my OJT(ON-THE-JOB-TRAINNING) at (NMMC) Nothern mindanao medical center in cagayan de oro city, This job is like a Frontliner or Call support if someone make queue request or log request, We will assist and fixed the problem like computer has no internet, printer maintenance, network configuration, Software updates, monthly computer maintenance.</small></h4>
    </div>
  </div>
</div> -->
