<div class="panel panel-default">
  <div class="panel-body font-weight-light">

    <h4 class="text-uppercase font-weight-bold">Information:</h4>
    <div><span class="fas fa-flag text-default"></span> Contry: {{adminInfo.country}}</div>
    <div><span class="fas fa-map-marked-alt text-default"></span> Location: {{adminInfo.locations}}</div>
    <div><span class="fas fa-building text-default"></span> Worked: {{adminInfo.work}}</div>
    <div><span class="fas fa-date text-default"></span> Birthday: {{adminInfo.birthday | date}}</div>
    <div><span class="fas fa-phone text-default"></span> Phone: {{adminInfo.phone}}</div>
    <div><span class="far fa-envelope text-default"></span> Email: {{adminInfo.email}}</div>

  </div>
</div>
