<div class="row">
  <div class="col-md-12">
    <!-- Profile -->
    <div class="thumbnail">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="../img/admin.png" alt="{{basicInfo.name}}'s Profile" class="img-circle" width="150px">
          <br>
          <h4 class="text-center text-uppercase">{{basicInfo.name}}</h4>
        </div>
      </div>
      <div class="caption">
        <p class="text-justify">
          {{basicInfo.introduction}}
        </p>
        <div class="mb-4">
          <i class="fab fa-facebook-square fa-2x text-primary"></i>
          <i class="fab fa-twitter-square fa-2x text-info mx-2"></i>
          <i class="fab fa-youtube-square fa-2x text-danger"></i>
        </div>
      </div>
    </div>
    <!-- End of Profile -->
  </div>
</div>
